@use '../01-settings/' as *;
@use '../02-tools/' as *;

.heading {

    &--h1 {
        font-size: 6rem;
        color: $color-white;
        @include medium {
            font-size: 8rem;
        }
        @include large {
            font-size: 10rem;
        }
    }
    &--h2 {
        font-size: 3rem;
        color: $color-black;
    }

}